[submodule "SharpHound3"]
	path = SharpHound3
	url = https://github.com/BloodHoundAD/SharpHound3.git
[submodule "Rubeus"]
	path = Rubeus
	url = https://github.com/GhostPack/Rubeus.git
[submodule "SafetyKatz"]
	path = SafetyKatz
	url = https://github.com/GhostPack/SafetyKatz
[submodule "SharpUp"]
	path = SharpUp
	url = https://github.com/GhostPack/SharpUp
[submodule "SharpBlock"]
	path = SharpBlock
	url = https://github.com/CCob/SharpBlock
[submodule "SharpDump"]
	path = SharpDump
	url = https://github.com/GhostPack/SharpDump
[submodule "Seatbelt"]
	path = Seatbelt
	url = https://github.com/GhostPack/Seatbelt
